#--------------------------------------------------------------------
# ENVIRONMENT
#--------------------------------------------------------------------
CI_ENVIRONMENT = development

#--------------------------------------------------------------------
# APP
#--------------------------------------------------------------------
app.baseURL = 'http://localhost:8086/'
app.forceGlobalSecureRequests = false

#--------------------------------------------------------------------
# SESSION
#--------------------------------------------------------------------
app.sessionDriver = 'CodeIgniter\Session\Handlers\FileHandler'
app.sessionCookieName = 'ci_session'
app.sessionExpiration = 7200
app.sessionSavePath = '/var/www/html/writable/session'
app.sessionMatchIP = false
app.sessionTimeToUpdate = 300
app.sessionRegenerateDestroy = false

#--------------------------------------------------------------------
# CSRF
#--------------------------------------------------------------------
app.CSRFProtection = false
app.CSRFTokenName = 'csrf_test_name'
app.CSRFCookieName = 'csrf_cookie_name'
app.CSRFExpire = 7200
app.CSRFRegenerate = true
app.CSRFRedirect = false
app.CSRFSameSite = 'Lax'

#--------------------------------------------------------------------
# DATABASE
#--------------------------------------------------------------------
database.default.hostname = db
database.default.database = ci4_db
database.default.username = ci4_user
database.default.password = ci4_password
database.default.DBDriver = MySQLi
database.default.DBPrefix =
database.default.port = 3306
database.default.charset = utf8mb4
database.default.DBCollat = utf8mb4_general_ci
database.default.swapPre =
database.default.encrypt = false
database.default.compress = false
database.default.strictOn = false

#--------------------------------------------------------------------
# MYSQL DOCKER (usadas por docker-compose)
#--------------------------------------------------------------------
DB_ROOT_PASSWORD = root_secret_password
DB_DATABASE = ci4_db
DB_USERNAME = ci4_user
DB_PASSWORD = ci4_password

#--------------------------------------------------------------------
# ENCRYPTION KEY (regenerá con: php spark key:generate)
#--------------------------------------------------------------------
encryption.key = hex2bin:a1b2c3d4e5f6a1b2c3d4e5f6a1b2c3d4e5f6a1b2c3d4e5f6a1b2c3d4e5f6a1b2

#--------------------------------------------------------------------
# LOGGING
#--------------------------------------------------------------------
logger.threshold = 4